*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   
       overflow: hidden;
  
}

#card{
    height: 70vh;
    width: 30vw;
    background: rgba(16, 16, 16, 0.1);
    box-shadow: 0 4px 30px rgba(12, 6, 6, 0.1);
    border: 3px solid rgba(150, 87, 32, 0.3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  

}
#card h3{
    font-size: 2vw;
}

#card input{
    height: 7vh;
    width: 85%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    background-color: rgba(17, 17, 17, 0.231);
    border-radius: 4px;
   padding: 0px 15px;
   color:rgb(37, 35, 35);
   font-size: 1.5rem;

}
#card input:hover{
    border:2px solid rgb(13, 13, 13);
    border-radius: 6px;

}

#btn{
    font-size: 1.5vw;
    font-weight: 800;
    padding: 1vh 2vw;
    background-color:#111010;
    height:35px;
    border: none;
    border-radius: 10px;
    color: white;
    padding-top:15px ;
    text-align: end;
    transition: background 0.3s, transform 0.3s;
    cursor:pointer;
}
#btn:hover{
    transform: translateX(10px);

}




